<h1>Display your Pirate here</h1>
<h1>Pirates</h1>
<div class="pirate">
  <h3>Name: <%= @pirate.name %></h3><br>
  <h4>Weight: <%= @pirate.weight %> pounds</h4><br>
  <h4>Height: <%= @pirate.height %> inches</h4>
</div>

<h2>Display your first ship here</h2>
<h1>Ships</h1>
<div class="ship">
  <p>Name: <%= Ships.all[0].name %></p><br>
  <p>Type: <%= Ships.all[0].type %></p><br>
  <p>Booty: <%= Ships.all[0].booty %></p>
</div>

<h2>Display your second ship here</h2>
<div class="ship">
  <p>Name: <%= Ships.all[1].name %></p><br>
  <p>Type: <%= Ships.all[1].type %></p><br>
  <p>Booty: <%= Ships.all[1].booty %></p>
</div>